body{
    font-family: arial;
    font-size: 16px;
    margin: 0;
    background: linear-gradient(to right top,#333232);
    color: #000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
}
.qa_box{
    width: 910px;
    padding: 20px;
    min-height: 100px;
    background-color: #fff;
    box-shadow: 0 0 5px 3px rgba(0,0,0,0.3);
    border-radius: 15px;
}
.qa_header{
    background-color: #0b58a7;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    margin: -20px -20px 20px;
    border-radius: 15px 15px 0 0;
    font-size: 20px;
}
.qa_set{
    display: none;
}
.qa_set.active{
    display: block;
}
.qa_set h4{
    text-align: center;
    font-size: 25px;
}
.qa_ans_row{ 
    display: inline-flex;
    position: relative;
    margin-bottom: 25px;
    margin-top: 25px;
    margin-left: 30px;
   
}
.qa_ans_row input{
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    cursor: pointer;
   
}
.qa_ans_row span{
    display: block;
    padding: 30px 30px;
    background-color: #bad0c9;
    border-radius: 15px;
    transition: all 0.3s ease-out;
    text-align: center;
    font-size: 20px;
    
}
.qa_ans_row span img{
    display: block;
    padding: 5px 5px;
    background-color: #bad0c9;
    border-radius: 5px;
    transition: all 0.3s ease-out;
    width: 120px;
    height: 150px;
    margin-bottom: 20px;
}
.qa_ans_row:hover span{
    background-color: burlywood;
}
.qa_ans_row input:checked + span{
    background-color: red;
}
.qa_ans_row input[valid]:checked + span{
    background-color: green;
    color: #fff;
}
.qa_footer{
    padding: 10px 0 0;
    text-align: right;
}
.btn1{
    display: inline-block;
    padding: 8px 20px;
    background-color: aqua;
    color: #fff;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
.btn1:hover{
    background-color: #afa8a8;
}



/* Pour les écrans jusqu'à 768 pixels de large */
@media screen and (max-width: 768px) {
    .qa_box {
        width: 90%;
    }
    .qa_ans_row {
        margin-left: 0;
    }
}

/* Pour les écrans jusqu'à 576 pixels de large */
@media screen and (max-width: 576px) {
    .qa_header {
        font-size: 18px;
    }
    .qa_set h4 {
        font-size: 20px;
    }
    .qa_ans_row span {
        padding: 20px;
    }
    .qa_ans_row span img {
        width: 100px;
        height: 120px;
    }
}

/* Pour les écrans jusqu'à 375 pixels de large */
@media screen and (max-width: 375px) {
    .qa_header {
        font-size: 16px;
    }
    .qa_set h4 {
        font-size: 18px;
    }
    .qa_ans_row span {
        padding: 15px;
    }
    .qa_ans_row span img {
        width: 80px;
        height: 100px;
    }
}